<div class="container">
  <h1>Este es mi primer proyecto en Angular haciendo un E.Commerce</h1>
  <h2>{{title}}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{task}}
    </li>
  </ul>
  <hr/>
  <h2>{{'Hola '.repeat(4)}}</h2>
  <p>La suma de 3 + 3 es {{3+3}}</p>
  <p>Hola soy {{persona().nombre}} y mi edad es de {{persona().edad}}</p>
  <p>Soy {{persona().nombre}}</p>
  <hr/>
  <img [src]="persona().imagen" alt="">
  
  <hr/>
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double me</button>
  <p>(change)</p>
  
  <hr/>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changerHandler($event)">
  <p> Mi nombre es: {{name()}}</p>
  <ul>
    <p>La lista tiene {{tasks().length}} elementos</p>
    <li *ngFor="let task of tasks(); index as i">
     {{i}} {{task}}
    </li>
  </ul>
  <hr/> 
  <input type="number" [value]="persona().edad" (change)="changeAge($event)">
  <div *ngIf="persona().nombre === 'Julian' && persona().edad >= 18; else elseBlock">
    Soy Fabian y soy mayor a 18 años
  </div>
  <ng-template #elseBlock>
    Soy Fabian y tengo menos de 18 años
  </ng-template>
  <hr/>
  <input type="text" [value]="persona().nombre" (change)="changeName($event)">
  <div [ngSwitch]="persona().nombre"> 
    <p *ngSwitchCase="'nicolas'">Hola soy Nicolas</p>
    <p *ngSwitchCase="'fabian'">Hola soy Fabian</p>
    <p *ngSwitchCase="'pablo'">Hola soy Pablo</p>
    <p *ngSwitchDefault="">Hola No soy Nadie</p>
  </div>
  <hr/>
  <input type="color" [formControl]="colorCtrl">
  <p>color: {{colorCtrl.value}}</p>


</div>
